USE [dev_SASL]
GO
/****** Object:  Table [dbo].[AsignacionEmpleado]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsignacionEmpleado](
	[IdUsuario] [int] NOT NULL,
	[IdServicio] [int] NOT NULL,
	[IdHorario] [int] NOT NULL,
	[DiasLaborales] [int] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AsignacionEmpleado] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdServicio] ASC,
	[IdHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsignacionMaquinarium]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsignacionMaquinarium](
	[IdServicio] [int] NOT NULL,
	[IdMaquinaria] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_AsignacionMaquinarium] PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC,
	[IdMaquinaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsignacionRecurso]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsignacionRecurso](
	[IdServicio] [int] NOT NULL,
	[IdRecurso] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_AsignacionRecurso] PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC,
	[IdRecurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsignacionUniforme]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsignacionUniforme](
	[IdAsignacionUniforme] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdUniforme] [int] NOT NULL,
	[FechaEntrega] [date] NOT NULL,
	[FechaDevolucion] [date] NULL,
	[Estado] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AsignacionUniforme] PRIMARY KEY CLUSTERED 
(
	[IdAsignacionUniforme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Capacitacione]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capacitacione](
	[IdCapacitacion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Fecha] [date] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Capacitacione] PRIMARY KEY CLUSTERED 
(
	[IdCapacitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[IdDireccion] [int] NOT NULL,
	[NombreCliente] [nvarchar](max) NOT NULL,
	[ContactoEmergenciaCorreo] [nvarchar](max) NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[ContrasenaHash] [nvarchar](max) NOT NULL,
	[Nit] [int] NOT NULL,
	[Codigo2fa] [nvarchar](max) NULL,
	[Expiracion] [datetime2](7) NULL,
	[Pediente2fa] [bit] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cobros]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cobros](
	[IdCobro] [int] IDENTITY(1,1) NOT NULL,
	[IdServicio] [int] NOT NULL,
	[IdQr] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[DiaMesPagar] [int] NOT NULL,
	[Monto] [decimal](10, 2) NULL,
	[Vigente] [bit] NOT NULL,
	[create_at] [datetime2](7) NULL,
	[update_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCobro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion](
	[IdDireccion] [int] IDENTITY(1,1) NOT NULL,
	[IdZona] [int] NOT NULL,
	[Calle] [nvarchar](max) NOT NULL,
	[NCasa] [int] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Direccion] PRIMARY KEY CLUSTERED 
(
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentosUsuario]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentosUsuario](
	[IdDocumento] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdTipoDeDocumento] [int] NOT NULL,
	[NombreArchivo] [nvarchar](100) NOT NULL,
	[FechaSubida] [date] NOT NULL,
	[UbicacionArchivo] [nvarchar](200) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DocumentosUsuario] PRIMARY KEY CLUSTERED 
(
	[IdDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dominio]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dominio](
	[IdDominio] [int] IDENTITY(1,1) NOT NULL,
	[Dominio1] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Dominio] PRIMARY KEY CLUSTERED 
(
	[IdDominio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoCalidad]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCalidad](
	[IdEstadoCalidad] [int] IDENTITY(1,1) NOT NULL,
	[EstadoCalidad1] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EstadoCalidad] PRIMARY KEY CLUSTERED 
(
	[IdEstadoCalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialEstadoMaquina]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEstadoMaquina](
	[IdHistorial] [int] IDENTITY(1,1) NOT NULL,
	[IdMaquinaria] [int] NOT NULL,
	[IdEstadoCalidad] [int] NOT NULL,
	[FechaCambio] [datetime2](7) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HistorialEstadoMaquina] PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horario]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horario](
	[IdHorario] [int] IDENTITY(1,1) NOT NULL,
	[HoraEntrada] [time](7) NOT NULL,
	[HoraSalida] [time](7) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Horario] PRIMARY KEY CLUSTERED 
(
	[IdHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidente]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidente](
	[IdIncidente] [int] IDENTITY(1,1) NOT NULL,
	[IdServicio] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Fecha] [date] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Incidente] PRIMARY KEY CLUSTERED 
(
	[IdIncidente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mantenimiento]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mantenimiento](
	[IdMantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[FechaMantenimiento] [date] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Costo] [decimal](18, 2) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Mantenimiento] PRIMARY KEY CLUSTERED 
(
	[IdMantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MantenimientosMaquinarium]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MantenimientosMaquinarium](
	[IdMaquinaria] [int] NOT NULL,
	[IdMantenimiento] [int] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MantenimientosMaquinarium] PRIMARY KEY CLUSTERED 
(
	[IdMaquinaria] ASC,
	[IdMantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maquinarium]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maquinarium](
	[IdMaquinaria] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdTipoMaquinaria] [int] NOT NULL,
	[IdEstadoCalidad] [int] NOT NULL,
	[IdMarcaMaquinaria] [int] NOT NULL,
	[NombreMaquinaria] [nvarchar](max) NOT NULL,
	[CodigoInv] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Maquinarium] PRIMARY KEY CLUSTERED 
(
	[IdMaquinaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarcaMaquinarium]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarcaMaquinarium](
	[IdMarcaMaquinaria] [int] IDENTITY(1,1) NOT NULL,
	[IdPais] [int] NOT NULL,
	[NombreMarca] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MarcaMaquinarium] PRIMARY KEY CLUSTERED 
(
	[IdMarcaMaquinaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Memorial]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Memorial](
	[IdMemorial] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Memorial] PRIMARY KEY CLUSTERED 
(
	[IdMemorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdCobro] [int] NOT NULL,
	[FechaPago] [datetime2](7) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[create_at] [datetime2](7) NULL,
	[update_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provedore]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provedore](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Nit] [int] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Provedore] PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QR]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QR](
	[IdQr] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[FechaEmitida] [datetime2](7) NOT NULL,
	[FechaExpiracion] [datetime2](7) NOT NULL,
	[RutaServidor] [nvarchar](200) NOT NULL,
	[create_at] [datetime2](7) NULL,
	[update_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdQr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recurso]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recurso](
	[IdRecurso] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdTipo] [int] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Recurso] PRIMARY KEY CLUSTERED 
(
	[IdRecurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](max) NOT NULL,
	[Salario] [int] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[IdServicio] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdDireccion] [int] NOT NULL,
	[TipoServicio] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFinal] [date] NULL,
	[Costo] [decimal](18, 2) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Servicio] PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicioTerminado]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicioTerminado](
	[IdServicioTerminado] [int] IDENTITY(1,1) NOT NULL,
	[IdServicio] [int] NOT NULL,
	[Satisfaccion] [int] NOT NULL,
	[Comentarios] [nvarchar](max) NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ServicioTerminado] PRIMARY KEY CLUSTERED 
(
	[IdServicioTerminado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubDominio]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubDominio](
	[IdSubDominio] [int] IDENTITY(1,1) NOT NULL,
	[IdDominio] [int] NOT NULL,
	[Detalle] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SubDominio] PRIMARY KEY CLUSTERED 
(
	[IdSubDominio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelefonoCliente]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonoCliente](
	[IdTelefono] [int] IDENTITY(1,1) NOT NULL,
	[Telefono] [int] NOT NULL,
	[IdDetalle] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TelefonoCliente] PRIMARY KEY CLUSTERED 
(
	[IdTelefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelefonoProveedor]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonoProveedor](
	[IdTelefono] [int] IDENTITY(1,1) NOT NULL,
	[Telefono] [int] NOT NULL,
	[IdDetalle] [int] NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TelefonoProveedor] PRIMARY KEY CLUSTERED 
(
	[IdTelefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelefonoUsuario]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonoUsuario](
	[IdTelefonoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[TelefonoUsuario1] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdDetalle] [int] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TelefonoUsuario] PRIMARY KEY CLUSTERED 
(
	[IdTelefonoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uniforme]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uniforme](
	[IdUniforme] [int] IDENTITY(1,1) NOT NULL,
	[NombreUniforme] [nvarchar](max) NOT NULL,
	[Talla] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Uniforme] PRIMARY KEY CLUSTERED 
(
	[IdUniforme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosCapacitacione]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosCapacitacione](
	[IdUsuario] [int] NOT NULL,
	[IdCapacitacion] [int] NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UsuariosCapacitacione] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdCapacitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioTrabajador]    Script Date: 9/6/2026 00:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioTrabajador](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdEstadoCivil] [int] NOT NULL,
	[IdGradoAcademico] [int] NOT NULL,
	[IdGenero] [int] NOT NULL,
	[IdDireccion] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdPais] [int] NOT NULL,
	[ContrasenaHash] [nvarchar](max) NOT NULL,
	[Correo] [nvarchar](max) NOT NULL,
	[Ci] [int] NOT NULL,
	[NombreUsuario] [nvarchar](max) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[Codigo2fa] [nvarchar](max) NULL,
	[Expiracion] [datetime2](7) NULL,
	[Pediente2fa] [bit] NULL,
	[ServicioAsignado] [bit] NOT NULL,
 CONSTRAINT [PK_UsuarioTrabajador] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioTrabajador_Carrera]    Script Date: 9/6/2026 00:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioTrabajador_Carrera](
	[IdUsuario] [int] NOT NULL,
	[IdSubDominio] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioTrabajador_Carrera] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdSubDominio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AsignacionEmpleado] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[AsignacionEmpleado] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[AsignacionUniforme] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[AsignacionUniforme] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Capacitacione] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Capacitacione] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Cobros] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Cobros] ADD  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[Direccion] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Direccion] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[DocumentosUsuario] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[DocumentosUsuario] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Dominio] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Dominio] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[EstadoCalidad] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[EstadoCalidad] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[HistorialEstadoMaquina] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[HistorialEstadoMaquina] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Horario] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Horario] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Incidente] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Incidente] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Mantenimiento] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Mantenimiento] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[MantenimientosMaquinarium] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[MantenimientosMaquinarium] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Maquinarium] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Maquinarium] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[MarcaMaquinarium] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[MarcaMaquinarium] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Memorial] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Memorial] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[Provedore] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Provedore] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[QR] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[QR] ADD  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[Recurso] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Recurso] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Servicio] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Servicio] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[ServicioTerminado] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[ServicioTerminado] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[SubDominio] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[SubDominio] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[TelefonoCliente] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[TelefonoCliente] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[TelefonoProveedor] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[TelefonoProveedor] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[TelefonoUsuario] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[TelefonoUsuario] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[Uniforme] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Uniforme] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[UsuarioTrabajador] ADD  DEFAULT (sysdatetime()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[UsuarioTrabajador] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
GO
ALTER TABLE [dbo].[AsignacionEmpleado]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionEmpleado_DiasLaborales] FOREIGN KEY([DiasLaborales])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[AsignacionEmpleado] CHECK CONSTRAINT [FK_AsignacionEmpleado_DiasLaborales]
GO
ALTER TABLE [dbo].[AsignacionEmpleado]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionEmpleado_Horario] FOREIGN KEY([IdHorario])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[AsignacionEmpleado] CHECK CONSTRAINT [FK_AsignacionEmpleado_Horario]
GO
ALTER TABLE [dbo].[AsignacionEmpleado]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionEmpleado_Servicio] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
GO
ALTER TABLE [dbo].[AsignacionEmpleado] CHECK CONSTRAINT [FK_AsignacionEmpleado_Servicio]
GO
ALTER TABLE [dbo].[AsignacionEmpleado]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionEmpleado_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuarioTrabajador] ([IdUsuario])
GO
ALTER TABLE [dbo].[AsignacionEmpleado] CHECK CONSTRAINT [FK_AsignacionEmpleado_Usuario]
GO
ALTER TABLE [dbo].[AsignacionMaquinarium]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionMaquinarium_Maquinaria] FOREIGN KEY([IdMaquinaria])
REFERENCES [dbo].[Maquinarium] ([IdMaquinaria])
GO
ALTER TABLE [dbo].[AsignacionMaquinarium] CHECK CONSTRAINT [FK_AsignacionMaquinarium_Maquinaria]
GO
ALTER TABLE [dbo].[AsignacionMaquinarium]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionMaquinarium_Servicio] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
GO
ALTER TABLE [dbo].[AsignacionMaquinarium] CHECK CONSTRAINT [FK_AsignacionMaquinarium_Servicio]
GO
ALTER TABLE [dbo].[AsignacionRecurso]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionRecurso_Recurso] FOREIGN KEY([IdRecurso])
REFERENCES [dbo].[Recurso] ([IdRecurso])
GO
ALTER TABLE [dbo].[AsignacionRecurso] CHECK CONSTRAINT [FK_AsignacionRecurso_Recurso]
GO
ALTER TABLE [dbo].[AsignacionRecurso]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionRecurso_Servicio] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
GO
ALTER TABLE [dbo].[AsignacionRecurso] CHECK CONSTRAINT [FK_AsignacionRecurso_Servicio]
GO
ALTER TABLE [dbo].[AsignacionUniforme]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionUniforme_Uniforme] FOREIGN KEY([IdUniforme])
REFERENCES [dbo].[Uniforme] ([IdUniforme])
GO
ALTER TABLE [dbo].[AsignacionUniforme] CHECK CONSTRAINT [FK_AsignacionUniforme_Uniforme]
GO
ALTER TABLE [dbo].[AsignacionUniforme]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionUniforme_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuarioTrabajador] ([IdUsuario])
GO
ALTER TABLE [dbo].[AsignacionUniforme] CHECK CONSTRAINT [FK_AsignacionUniforme_Usuario]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Direccion] FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[Direccion] ([IdDireccion])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Direccion]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Empresa]
GO
ALTER TABLE [dbo].[Cobros]  WITH CHECK ADD  CONSTRAINT [FK_Cobro_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Cobros] CHECK CONSTRAINT [FK_Cobro_Cliente]
GO
ALTER TABLE [dbo].[Cobros]  WITH CHECK ADD  CONSTRAINT [FK_Cobro_Qr] FOREIGN KEY([IdQr])
REFERENCES [dbo].[QR] ([IdQr])
GO
ALTER TABLE [dbo].[Cobros] CHECK CONSTRAINT [FK_Cobro_Qr]
GO
ALTER TABLE [dbo].[Cobros]  WITH CHECK ADD  CONSTRAINT [FK_Cobro_Servicio] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
GO
ALTER TABLE [dbo].[Cobros] CHECK CONSTRAINT [FK_Cobro_Servicio]
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_SubDominio_Zona] FOREIGN KEY([IdZona])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[Direccion] CHECK CONSTRAINT [FK_Direccion_SubDominio_Zona]
GO
ALTER TABLE [dbo].[DocumentosUsuario]  WITH CHECK ADD  CONSTRAINT [FK_DocumentosUsuario_Tipo] FOREIGN KEY([IdTipoDeDocumento])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[DocumentosUsuario] CHECK CONSTRAINT [FK_DocumentosUsuario_Tipo]
GO
ALTER TABLE [dbo].[DocumentosUsuario]  WITH CHECK ADD  CONSTRAINT [FK_DocumentosUsuario_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuarioTrabajador] ([IdUsuario])
GO
ALTER TABLE [dbo].[DocumentosUsuario] CHECK CONSTRAINT [FK_DocumentosUsuario_Usuario]
GO
ALTER TABLE [dbo].[HistorialEstadoMaquina]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstadoMaquina_EstadoCalidad] FOREIGN KEY([IdEstadoCalidad])
REFERENCES [dbo].[EstadoCalidad] ([IdEstadoCalidad])
GO
ALTER TABLE [dbo].[HistorialEstadoMaquina] CHECK CONSTRAINT [FK_HistorialEstadoMaquina_EstadoCalidad]
GO
ALTER TABLE [dbo].[HistorialEstadoMaquina]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstadoMaquina_Maquinaria] FOREIGN KEY([IdMaquinaria])
REFERENCES [dbo].[Maquinarium] ([IdMaquinaria])
GO
ALTER TABLE [dbo].[HistorialEstadoMaquina] CHECK CONSTRAINT [FK_HistorialEstadoMaquina_Maquinaria]
GO
ALTER TABLE [dbo].[Incidente]  WITH CHECK ADD  CONSTRAINT [FK_Incidente_Servicio] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
GO
ALTER TABLE [dbo].[Incidente] CHECK CONSTRAINT [FK_Incidente_Servicio]
GO
ALTER TABLE [dbo].[MantenimientosMaquinarium]  WITH CHECK ADD  CONSTRAINT [FK_MantenimientosMaquinarium_Mantenimiento] FOREIGN KEY([IdMantenimiento])
REFERENCES [dbo].[Mantenimiento] ([IdMantenimiento])
GO
ALTER TABLE [dbo].[MantenimientosMaquinarium] CHECK CONSTRAINT [FK_MantenimientosMaquinarium_Mantenimiento]
GO
ALTER TABLE [dbo].[MantenimientosMaquinarium]  WITH CHECK ADD  CONSTRAINT [FK_MantenimientosMaquinarium_Maquinaria] FOREIGN KEY([IdMaquinaria])
REFERENCES [dbo].[Maquinarium] ([IdMaquinaria])
GO
ALTER TABLE [dbo].[MantenimientosMaquinarium] CHECK CONSTRAINT [FK_MantenimientosMaquinarium_Maquinaria]
GO
ALTER TABLE [dbo].[Maquinarium]  WITH CHECK ADD  CONSTRAINT [FK_Maquinarium_EstadoCalidad] FOREIGN KEY([IdEstadoCalidad])
REFERENCES [dbo].[EstadoCalidad] ([IdEstadoCalidad])
GO
ALTER TABLE [dbo].[Maquinarium] CHECK CONSTRAINT [FK_Maquinarium_EstadoCalidad]
GO
ALTER TABLE [dbo].[Maquinarium]  WITH CHECK ADD  CONSTRAINT [FK_Maquinarium_Marca] FOREIGN KEY([IdMarcaMaquinaria])
REFERENCES [dbo].[MarcaMaquinarium] ([IdMarcaMaquinaria])
GO
ALTER TABLE [dbo].[Maquinarium] CHECK CONSTRAINT [FK_Maquinarium_Marca]
GO
ALTER TABLE [dbo].[Maquinarium]  WITH CHECK ADD  CONSTRAINT [FK_Maquinarium_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Provedore] ([IdProveedor])
GO
ALTER TABLE [dbo].[Maquinarium] CHECK CONSTRAINT [FK_Maquinarium_Proveedor]
GO
ALTER TABLE [dbo].[Maquinarium]  WITH CHECK ADD  CONSTRAINT [FK_Maquinarium_TipoMaquinaria] FOREIGN KEY([IdTipoMaquinaria])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[Maquinarium] CHECK CONSTRAINT [FK_Maquinarium_TipoMaquinaria]
GO
ALTER TABLE [dbo].[MarcaMaquinarium]  WITH CHECK ADD  CONSTRAINT [FK_MarcaMaquinarium_Pais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[MarcaMaquinarium] CHECK CONSTRAINT [FK_MarcaMaquinarium_Pais]
GO
ALTER TABLE [dbo].[Memorial]  WITH CHECK ADD  CONSTRAINT [FK_Memorial_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[UsuarioTrabajador] ([IdUsuario])
GO
ALTER TABLE [dbo].[Memorial] CHECK CONSTRAINT [FK_Memorial_Empleado]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Cobro] FOREIGN KEY([IdCobro])
REFERENCES [dbo].[Cobros] ([IdCobro])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Cobro]
GO
ALTER TABLE [dbo].[Provedore]  WITH CHECK ADD  CONSTRAINT [FK_Provedore_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[Provedore] CHECK CONSTRAINT [FK_Provedore_Empresa]
GO
ALTER TABLE [dbo].[Provedore]  WITH CHECK ADD  CONSTRAINT [FK_Provedore_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[Provedore] CHECK CONSTRAINT [FK_Provedore_Producto]
GO
ALTER TABLE [dbo].[QR]  WITH CHECK ADD  CONSTRAINT [FK_Qr_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuarioTrabajador] ([IdUsuario])
GO
ALTER TABLE [dbo].[QR] CHECK CONSTRAINT [FK_Qr_Usuario]
GO
ALTER TABLE [dbo].[Recurso]  WITH CHECK ADD  CONSTRAINT [FK_Recurso_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Provedore] ([IdProveedor])
GO
ALTER TABLE [dbo].[Recurso] CHECK CONSTRAINT [FK_Recurso_Proveedor]
GO
ALTER TABLE [dbo].[Recurso]  WITH CHECK ADD  CONSTRAINT [FK_Recurso_Tipo] FOREIGN KEY([IdTipo])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[Recurso] CHECK CONSTRAINT [FK_Recurso_Tipo]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [FK_Servicio_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [FK_Servicio_Cliente]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [FK_Servicio_Direccion] FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[Direccion] ([IdDireccion])
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [FK_Servicio_Direccion]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [FK_Servicio_TipoServicio] FOREIGN KEY([TipoServicio])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [FK_Servicio_TipoServicio]
GO
ALTER TABLE [dbo].[ServicioTerminado]  WITH CHECK ADD  CONSTRAINT [FK_ServicioTerminado_Satisfaccion] FOREIGN KEY([Satisfaccion])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[ServicioTerminado] CHECK CONSTRAINT [FK_ServicioTerminado_Satisfaccion]
GO
ALTER TABLE [dbo].[ServicioTerminado]  WITH CHECK ADD  CONSTRAINT [FK_ServicioTerminado_Servicio] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
GO
ALTER TABLE [dbo].[ServicioTerminado] CHECK CONSTRAINT [FK_ServicioTerminado_Servicio]
GO
ALTER TABLE [dbo].[SubDominio]  WITH CHECK ADD  CONSTRAINT [FK_SubDominio_Dominio] FOREIGN KEY([IdDominio])
REFERENCES [dbo].[Dominio] ([IdDominio])
GO
ALTER TABLE [dbo].[SubDominio] CHECK CONSTRAINT [FK_SubDominio_Dominio]
GO
ALTER TABLE [dbo].[TelefonoCliente]  WITH CHECK ADD  CONSTRAINT [FK_TelefonoCliente_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[TelefonoCliente] CHECK CONSTRAINT [FK_TelefonoCliente_Cliente]
GO
ALTER TABLE [dbo].[TelefonoCliente]  WITH CHECK ADD  CONSTRAINT [FK_TelefonoCliente_Detalle] FOREIGN KEY([IdDetalle])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[TelefonoCliente] CHECK CONSTRAINT [FK_TelefonoCliente_Detalle]
GO
ALTER TABLE [dbo].[TelefonoProveedor]  WITH CHECK ADD  CONSTRAINT [FK_TelefonoProveedor_Detalle] FOREIGN KEY([IdDetalle])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[TelefonoProveedor] CHECK CONSTRAINT [FK_TelefonoProveedor_Detalle]
GO
ALTER TABLE [dbo].[TelefonoProveedor]  WITH CHECK ADD  CONSTRAINT [FK_TelefonoProveedor_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Provedore] ([IdProveedor])
GO
ALTER TABLE [dbo].[TelefonoProveedor] CHECK CONSTRAINT [FK_TelefonoProveedor_Proveedor]
GO
ALTER TABLE [dbo].[TelefonoUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TelefonoUsuario_Detalle] FOREIGN KEY([IdDetalle])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[TelefonoUsuario] CHECK CONSTRAINT [FK_TelefonoUsuario_Detalle]
GO
ALTER TABLE [dbo].[TelefonoUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TelefonoUsuario_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuarioTrabajador] ([IdUsuario])
GO
ALTER TABLE [dbo].[TelefonoUsuario] CHECK CONSTRAINT [FK_TelefonoUsuario_Usuario]
GO
ALTER TABLE [dbo].[UsuariosCapacitacione]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosCapacitacione_Capacitacion] FOREIGN KEY([IdCapacitacion])
REFERENCES [dbo].[Capacitacione] ([IdCapacitacion])
GO
ALTER TABLE [dbo].[UsuariosCapacitacione] CHECK CONSTRAINT [FK_UsuariosCapacitacione_Capacitacion]
GO
ALTER TABLE [dbo].[UsuariosCapacitacione]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosCapacitacione_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuarioTrabajador] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuariosCapacitacione] CHECK CONSTRAINT [FK_UsuariosCapacitacione_Usuario]
GO
ALTER TABLE [dbo].[UsuarioTrabajador]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioTrabajador_Direccion] FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[Direccion] ([IdDireccion])
GO
ALTER TABLE [dbo].[UsuarioTrabajador] CHECK CONSTRAINT [FK_UsuarioTrabajador_Direccion]
GO
ALTER TABLE [dbo].[UsuarioTrabajador]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioTrabajador_EstadoCivil] FOREIGN KEY([IdEstadoCivil])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[UsuarioTrabajador] CHECK CONSTRAINT [FK_UsuarioTrabajador_EstadoCivil]
GO
ALTER TABLE [dbo].[UsuarioTrabajador]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioTrabajador_Genero] FOREIGN KEY([IdGenero])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[UsuarioTrabajador] CHECK CONSTRAINT [FK_UsuarioTrabajador_Genero]
GO
ALTER TABLE [dbo].[UsuarioTrabajador]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioTrabajador_GradoAcademico] FOREIGN KEY([IdGradoAcademico])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[UsuarioTrabajador] CHECK CONSTRAINT [FK_UsuarioTrabajador_GradoAcademico]
GO
ALTER TABLE [dbo].[UsuarioTrabajador]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioTrabajador_Pais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[UsuarioTrabajador] CHECK CONSTRAINT [FK_UsuarioTrabajador_Pais]
GO
ALTER TABLE [dbo].[UsuarioTrabajador]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioTrabajador_Role] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Role] ([IdRol])
GO
ALTER TABLE [dbo].[UsuarioTrabajador] CHECK CONSTRAINT [FK_UsuarioTrabajador_Role]
GO
ALTER TABLE [dbo].[UsuarioTrabajador_Carrera]  WITH CHECK ADD  CONSTRAINT [FK_UTCarrera_SubDominio] FOREIGN KEY([IdSubDominio])
REFERENCES [dbo].[SubDominio] ([IdSubDominio])
GO
ALTER TABLE [dbo].[UsuarioTrabajador_Carrera] CHECK CONSTRAINT [FK_UTCarrera_SubDominio]
GO
ALTER TABLE [dbo].[UsuarioTrabajador_Carrera]  WITH CHECK ADD  CONSTRAINT [FK_UTCarrera_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuarioTrabajador] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioTrabajador_Carrera] CHECK CONSTRAINT [FK_UTCarrera_Usuario]
GO
